

*.gz
cycle gan/summer2winter_yosemite/.DS_Store
cycle gan/summer2winter_yosemite/summer/.DS_Store
cycle gan/summer2winter_yosemite/test_summer/.DS_Store
cycle gan/summer2winter_yosemite/test_summer/.DS_Store
cycle gan/summer2winter_yosemite/test_winter/.DS_Store
cycle gan/summer2winter_yosemite/winter/.DS_Store
gan mnist/data/MNIST/raw/t10k-images-idx3-ubyte
gan mnist/data/MNIST/raw/t10k-labels-idx1-ubyte
gan mnist/data/MNIST/raw/t10k-labels-idx1-ubyte
gan mnist/data/MNIST/raw/train-images-idx3-ubyte
gan mnist/data/MNIST/raw/train-labels-idx1-ubyte
*.jpg
